$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin sm-only {
    @media screen and (min-width: map-get($grid-breakpoints, sm)){
        @content;
    }
}

@mixin md-only {
    @media screen and (min-width: map-get($grid-breakpoints, md)){
        @content;
    }
}

@mixin lg-only {
    @media screen and (min-width: map-get($grid-breakpoints, lg)){
        @content;
    }
}
