
$blue: hsl(252, 94%, 67%);
$light-blue: hsl(252, 100%, 73%);
$navy-dark: #1E2139;
$navy-light: #252945;
$gray-light: #DFE3FA;
$gray-b-light: #888EB0;
$gray-b-dark: #7E88C3;
// $black: #0C0E16;
$red: #EC5757;
$light-red: rgb(255, 151, 151);
$bg-light-gray: rgb(249, 249, 251);
$bg-dark-black: #0C0E16;
// $blue-dark: #141625;
$a: #373B53;

$white: #fff;

// $blue-gray-light: #dfe3fa;
// $blue-gray: #7e88c3;

$text-primary: hsl(228, 29%, 7%);
$text-primary-light: hsl(0, 0%, 100%);
$text-secondary: hsl(231, 37%, 63%);
$text-secondary-light: hsl(231, 73%, 93%);


$bg-primary: hsl(228, 29%, 7%);
$bg-secondary: hsl(231, 37%, 63%);
$bg-secondary-light: hsl(231, 73%, 93%);
