@font-face {
    font-family: 'spartan-medium';
    src: url('../fonts/Spartan-Medium.ttf');
}

@font-face {
    font-family: 'spartan-bold';
    src: url('../fonts/Spartan-Bold.ttf');
}

$font-spartan-medium: 'spartan-medium';
$font-spartan-bold: 'spartan-bold';
