#app {
    background-color: $bg-light-gray;

    .nav {
        background-color: $navy-light;
    }

    // .text--gray {
    //     color: $blue-gray;
    // }
    h1, h2, h3 {
        color: $text-primary;
    }

    .bg--page {
       background-color: $bg-page-sun; 
    }

    .bg--block {
        background-color: $bg-block-sun; 
    }

    .bg--sub--block {
        color: $bg-sub-block-sun; 
    }

    .text--primary {
        color: $text-primary;
    }

    .text--secondary {
        color: $text-secondary;
    }

    .text--blue {
        color: $blue;
    }

    .text--block--primary {
        color: $text--block--primary--sun
    }

    .text--block--secondary {
        color: $text--block--secondary--sun
    }
}

#app.moon {

    background-color: $bg-dark-black;


    h1, h2, h3 {
        color: $text-primary-light;
    }
    
    // p {
    //     color: $text-secondary-light;
    // }

    .nav {
        background-color: $navy-dark;
    }
    
    .text--primary {
        color: $text-primary-light;
    }

    .text--secondary {
        color: $text-secondary-light;
    }

    .text--block--primary {
        color: $text--block--primary--moon
    }

    .text--block--secondary {
        color: $text--block--secondary--moon
    }

    .bg--page {
        background-color: $bg-page-moon; 
    }
 
    .bg--block {
        background-color: $bg-block-moon; 
    }
 
    .bg--sub--block {
        background-color: $bg-sub-block-moon; 
    }

    .invoice--table__row {
        background-color: #252945;
        // color: #fff;
    }

    .invoice--table__total {
        background-color: #0c0e16;

        color: #fff;
    }
}